<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div class="row" *ngIf="cartItems==null">
              <div class="alert alert-danger">
                <span>Add items to your cart before checkout</span>
              </div>
            </div>


            <div class="row" *ngIf="cartItems!=null">
              <div class="col-lg-12">
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Shopping cart</p>
                    <p class="mb-0">You have {{cartItems!.length}} items in your cart</p>
                  </div>
                  <div class="">
                    <button class="btn btn-danger" (click)="clearAllItems()">Clear All</button>
                  </div>
                </div>

                <div class="card mb-3" *ngFor="let item of cartItems; let i =index">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img src="{{item.image}}" class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>{{item.title}}</h5>
                          <p class="small mb-0">
                            {{item.description | slice:0:50}}
                          </p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">

                        <div style="width: 200px;" class="d-flex flex-row align-items-center mx-4">
                          <button class="btn btn-dark" (click)="decreaseItem(i)">-</button>
                          <input type="number" [(ngModel)]="item.requestQuantity" (change)="changeQuantity()" class="form-control">
                          <button class="btn btn-dark" (click)="increaseItem(i)">+</button>
                        </div>

                        <div style="width: 130px;">
                          <h5 class="mb-0">
                            {{item.price}} USD <br> Per Item
                          </h5>
                        </div>

                        <a class="btn btn-danger" (click)="deleteItem(i)">
                          x
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="alert alert-dark">
                      <span>Total Cost: {{totalCost}}</span>
                    </div>
                    <button class="btn btn-dark" (click)="checkout()">Checkout</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
